body{
    margin: 0;
    padding: 0;
    font-family: 'Handlee', cursive;
}

.page{
    box-sizing: border-box;
    border: 40px double #7ed6df;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.head{
    color:#22a6b3;
    text-transform: uppercase;
}

.button{
    border:none;
    font-weight: 600;
    color: #fff;
    background-color: rgb(79, 209, 166);
    width: 70px;
    height: 70px;
    margin: 6px;
    border-radius: 3px;
    transition: 1s;
    cursor: pointer;
    font-family: 'Handlee', cursive;
}

.inputText{
    padding: 10px;
    margin: 8px 0;
    display: block;
    font-size: 25px;
    border: 4px dotted #2929f7;
    text-align: center;
}

.counter{
    font-size: 25px;
    text-decoration: none
   
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.firsText{
    text-decoration-line:  underline;
    text-decoration-style: wavy;
    text-decoration-color: #2929f7;
}

.button:hover{
    background-color: #2929f7;
    transform: scale(0.8);
    box-shadow: inset 0 0 0 25px #2929f7;
}
